.shisp-image-slider-in-global.billboard.billboard-activated.billboard-autosize.billboard-stretch {
    height: auto;
    margin-bottom: 25px;
    background: #0000!important;
    z-index: 1;
}
.aspect-ratio {
    padding-top: 17.7233%!important;
}

@media screen and (max-width: 768px) {

    .shisp-image-slider-in-global.billboard.billboard-activated.billboard-autosize.billboard-stretch {
        margin-bottom: 0px;
        margin-top: 10px;
    }   

    nav.col-12.shadow-box.breadcrumbs {
        margin-top: 0px!important;
    }

}